<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assests/css/404.css">
    <title>404</title>
</head>

<body>
    <div class="notfound">
        <div class="notfound-404">
            <h1>OOPS!</h1>
            <h2>404 - THE PAGE CAN'T BE FOUND</h2>
        </div>
        <a href="/">Go To Homepage</a>
    </div>
</body>

</html>